extends  layout 
block content 
    div.container
        .jumboton.text-center 
            h1 #{title}
        each model in models 
            div.models-name(url('/${model.name}'))
            h3.model-name 
                | #{model.name}
            a(href=`/present?id=${model.id}`)
                | View         
            a(href=`/edit?path=${model.path}`)
                | Edit